.container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 1000px;
  height: 1000px;
  border: 1px solid saddlebrown;
}

.box {
  background-color: palegreen;
  width: 100px;
  height: 100px;
}

.turquoise {
  background-color: #1abc9c;
}

.emerald {
  background-color: #2ecc71;
}

.petertiver {
  background-color: #3498db;
}

.amethyst {
  background-color: #9b59b6;
}
