.third {
  margin-top: 100px;
  width: 100%;
  height: 30%;
}

.third__contents {
  background-image: url("image_7.png");
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  padding: 100px 0px 100px 0px;
}

.third__contents__img__text {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.third__contents__img__text__title {
  font-size: 15px;
}

.third__contents__img__text__content {
  margin-top: 25px;
  font-size: 30px;
}

.third__contents__img__text__title__hidden {
  display: none;
}

.third__contents__img__text__content__hidden {
  display: none;
}

.third__contents__img__text__button__hidden {
  display: none;
}

.third__contents__img__text__button {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  background-color: transparent;
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  .third__contents {
    height: 600px;
    background-size: cover;
  }

  .third__contents__img__text {
    width: 400px;
    margin-right: 100px;
    gap: 10px;
  }

  .third__contents__img__text__title {
    display: none;
  }

  .third__contents__img__text__content {
    display: none;
  }

  .third__contents__img__text__button {
    display: none;
  }

  .third__contents__img__text__title__hidden {
    display: block;
  }

  .third__contents__img__text__title__hidden {
    display: block;
  }

  .third__contents__img__text__content__hidden {
    display: block;
  }

  .third__contents__img__text__title__hidden {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .third__contents__img__text__content__hidden {
    font-size: 25px;
  }

  .third__contents__img__text__button__hidden {
    display: block;
    width: 230px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    background-color: transparent;
    margin-top: 30px;
  }
}
