.first {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__contants {
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.first__contants__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first__contants__text__text1 {
  color: #97c125;
}

.first__contants__text__text2 {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
  gap: 20px;
  font-size: 60px;
}

.first__contants__text__text3 {
}

.first__contants__text__text4 {
}

.first__contants__text__text1__hidden {
  display: none;
}

.first__contants__text__text2__hidden {
  display: none;
}

.first__contants__text__text3__hidden {
  display: none;
}

.first__contants__text__text4__hidden {
  display: none;
}

.first__contants__text__button > button {
  margin-top: 15px;
  display: flex;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 40px;
  height: 45px;
  width: 130px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.first__contants__img {
  left: 700px;
  bottom: 1200px;
}

.first__contants__img > img {
  width: 600px;
  height: 500px;
}

@media screen and (max-width: 1024px) {
  .first__contants {
    position: relative;
    display: flex;
    margin-left: 50px;
  }

  .first__contants__text {
    text-align: center;
  }

  .first__contants__text__text1 {
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }

  .first__contants__text__text2 > span {
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }

  .first__contants__text__text3 {
    display: none;
  }
  .first__contants__text__text4 {
    display: none;
  }

  .first__contants__text__text1__hidden {
    display: block;
  }

  .first__contants__text__text2__hidden {
    display: block;
  }

  .first__contants__text__text3__hidden {
    display: block;
  }

  .first__contants__text__text4__hidden {
    display: block;
  }

  .first__contants__text__button {
    display: flex;
    z-index: 1;
    justify-content: center;
  }

  .first__contants__img > img {
    position: absolute;
    width: 400px;
    height: 400px;
    left: -80px;
    top: 350px;
    background-color: transparent;
    z-index: 0;
  }
}
