.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: fit-content;
}
.card {
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px solid black;
}

.img {
  position: absolute;
}

.title {
  right: 0px;
  margin-right: 15px;
  position: absolute;
}

.authoer {
  right: 0px;
  top: 20px;
  margin-right: 15px;
  position: absolute;
}

.description {
  position: absolute;
  bottom: 10px;
}

.grid {
}
