.find_layout {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #4a76ba;
  width: fit-content;
  padding: 30px;
}

.find_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 14px;
  width: 150px;
  height: 60px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 100px;
  gap: 50px;
}

.icon {
  font-size: 40px;
}

.text {
  font-weight: 700;
}

.red {
  color: #fe696a;
}

.blue {
  color: #4476fe;
}

.icon_layout {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 30px;
  font-size: 60px;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.skyblue {
  color: skyblue;
}

.blueviolet {
  color: blueviolet;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label > span {
  font-size: 20px;
  font-weight: 700;
}
