.cards {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 380px;
  border-radius: 12px;
  filter: brightness(1.08);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.imagebox {
  width: 100%;
  height: 65%;
}

.imagebox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px, 10px, 30px, 10px;
}

.info > span {
  margin: 10px;
}
