.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.border {
  border: 1px solid black;
}

.imgBox {
  display: flex;
  align-items: center;
}

.name {
  font-size: 30px;
  color: skyblue;
  font-weight: 600;
}


.gap{
  gap: 5px;
}

