.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}

.imgBox {
  margin-right: 10px;
}

.name {
  font-size: 30px;
  color: skyblue;
  font-weight: 600;
}

.infoBox {
  flex: 1;
}
