.main {
  width: 100vw;
  height: 100vh;
  background-image: url("back.png");
  display: flex;
  justify-content: center;
}

.contents {
  margin-top: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents > h1 {
  font-size: 60px;
}

.title {
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 5px;
}

.button {
  background-color: black;
  color: white;
  opacity: 0.8;
  padding: 10px 16px;
  border-radius: 12px;
}
